@charset "utf-8";
/* CSS Document */

html{}

body{
	width:100%;
	height:100%;
}


#canvas{
	width:772px;
	height:592px;
	border:solid #000 thick;
	margin:25px auto;
	position:fixed;
}

#room1{
	width:68.76px;
	height:87.86px;
	background-color:#999;	
	text-align:center;
	position:absolute;
}

#room2{
	width:110.01px;
	height:57.14px;
	background-color:#900;
	text-align:center;
	left:68.76px ;
	position:absolute;	
}

#room3{
	width:110.01px;
	height:57.143px;
	background-color:#CC3;
	text-align:center;
	left:178.77px;
	position:absolute;
}
#roombtn1 { width:100px; height:100px; }
#roominfo1{display:none;}

#roominfo2{display:none;}

#roominfo3{display:none;}

